{% extends "base.html" %}
{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div style="width: 350px; margin-left:500px; " class="alert alert-{{ message.tags }} " id="msg" role="alert">
      {{ message }}
   </div>  
    {% endfor %}
</ul>
{% endif %}
Do you want to create a new task? <a href="{% url 'todo:task-create' %}" class="btn">New task</a> <br>
<h1>Task Detail</h1>

<p><strong>Title: </strong> {{ object.title }}</p>
<p><strong>Description: </strong> {{ object.description }}</p>
<p><strong>due_date: </strong> {{ object.due_date }}</p>
<p><strong>Complete: </strong> {{ object.complete }}</p>
<p><strong>Priority: </strong> {{ object.priority }}</p>
<p><strong>created_at at: </strong> {{ object.created_at }}</p>
<p><strong>Updated at: </strong> {{ object.updated_at }}</p>
<p><a href="{% url 'todo:task-update' task.uuid %}" class="btn">Edit</a> 
<a href="{% url 'todo:task-delete' task.uuid %}" class="btn">Delete</a></p>




{% endblock %}