{% extends "base.html" %}
{% block content %}


    <h1>
        Are you sure you want to delete this task?
    </h1>
    <p><strong>Title: </strong> {{ object.title }}</p>
    <p><strong>Due: </strong> {{ object.due }}</p>
    <p><strong>Complete: </strong> {{ object.complete }}</p>


    <form action="{% url 'todo:task-delete' task.uuid %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Yes">
        <a href="{% url 'todo:tasks-list' %}" class="btn">No</a>
    </form>



{% endblock %}