<!-- todo_list/todo_app/templates/todo_app/index.html -->

{% extends "base.html" %}
{% block content %}
<!--index.html-->
{% if object_list %}
<h3>All my lists</h3>
{% endif %}




{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'todo:task-create' %}" class="btn">New task</a> <br>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Completed</th>
            <th>Priority</th>
            <th>due_date Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in object_list %}
        <tr>
            <td><a href="{% url 'todo:task-detail' task.uuid %}">{{ task.title }}</a></td>
            <td><input type="checkbox" {% if task.complete %}checked{% endif %} id="{{ task.uuid }}"></td>
            <td>{{ task.priority }}</td>
            <td>{{ task.due_date }}</td>
            <td>
                <a href="{% url 'todo:task-detail' task.uuid %}">Detail</a> |
                <a href="{% url 'todo:task-update' task.uuid %}">Update</a> |
                <a href="{% url 'todo:task-delete' task.uuid %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">You have no lists!</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% if is_paginated %}
  <nav class="pagination">
    <ul>
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
      {% else %}
        <li class="disabled"><span>previous</span></li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="active"><span>{{ num }}</span></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
      {% else %}
        <li class="disabled"><span>next</span></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

<script>
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', function() {
            var url = '/task/' + this.id + '/complete/';
            var xhr = new XMLHttpRequest();
            if (this.checked) {
                // send an extra parameter of True to the server
                xhr.open('GET', url + '?complete=True', true);
                xhr.send();

            } else {
                // send an extra parameter of False to the server
                xhr.open('GET', url + '?complete=False', true);
                xhr.send();
            }
        });
    }
</script>

{% endblock %}